.title {
    font-family: Poppins, sans-serif;
    font-size: 20pt;
    display: flex;
    flex-direction: row;
    position: fixed;
    text-align: center;
    left: 19%;
    color: white;
    background-color: rgb(52, 93, 140);
    padding: 20px 87px 0px 80px
}

.img_ilustracao {
    display: flex;
    position: fixed;
    left: 19%;
    top: 5%;
    z-index: -1;
    background-color: rgb(52, 93, 140);
    padding: 180px 80px 170px 80px
}

.text {
    font-family: Poppins, sans-serif;
    font-size: 12pt;
    display: flex;
    flex-direction: row;
    position: fixed;
    text-align: left;
    right: 3%;
    width: 40%;
    color: white;
    background-color: rgb(52, 93, 140);
    padding: 20px 20px 20px 20px
}
